<!--Partial for password change in account management-->

<div class="profileDetails">
    <div class="container d-flex flex-column align-items-center Details">
        <div class="col col-sm-12 col-md-12 col-lg-6 userDetail w-25">
            <label class="inputlabel">Current Password:</label>
            <div class="input-group mb-3 align-items-center">
                <input class="form-control" id="passwordCurr" name="password" type="password" autocomplete="current-password" aria-label="Enter current password" />
                <span class="fa-regular fa-eye-slash showPassword" data-id="passwordCurr"></span>
            </div>
        </div>
        <div class="col col-sm-12 col-md-12 col-lg-6 userDetail w-25">
            <label class="inputlabel">New Password:</label>
            <div class="input-group mb-3 align-items-center">
                <input class="form-control" name="new-password" id="passwordNew" type="password" autocomplete="new-password" aria-label="Enter new password" />
                <span class="fa-regular fa-eye-slash showPassword" data-id="passwordNew"></span>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-6 userDetail w-25">
            <label class="inputlabel">Confirm Passowrd:</label>
            <div class="input-group mb-3 align-items-center">
                <input class="form-control" id="passwordConfirm" name="new-password" type="password" autocomplete="new-password" aria-label="Confirm new password" />
                <span class="fa-regular fa-eye-slash showPassword" data-id="passwordConfirm"></span>
            </div>
        </div>

        <button id="changePassword" class="btn btn-secondary mb-5" type="submit" title="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
            </svg>
            Change Password
        </button>
    </div>
</div>

<div class="alert alert-danger passwordAlert" role="alert">
  <div class="d-flex gap-4 justify-content-center">
    <span><i class="fa-solid fa-circle-exclamation icon-danger"></i></span>
    <div class="d-flex flex-column gap-2">
      <div class="errorMessage text-center">
          <!--Error will be added here after ajax call-->
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success passwordChanged" role="alert">
  <div class="d-flex gap-4 justify-content-center">
    <span><i class="fa-solid fa-circle-check icon-success"></i></span>
    <div>
      Password changed successfully!
    </div>
  </div>
</div>

<script>
    var editing = true;
    $(document).ready(function(){
        $(".showPassword").click(function(){
            var id = "#" + $(this).data("id");

            if($(id).attr("type") === "password"){
                $(id).prop("type", "text");
                $(this).prop("class", "fa-regular fa-eye showPassword")
            }
            else{
                $(id).prop("type", "password");
                $(this).prop("class", "fa-regular fa-eye-slash showPassword")
            }
        });

        $("#changePassword").click(function(){
            var newPass = $("#passwordNew").val()
            var currPass = $("#passwordCurr").val()
            var confPass = $("#passwordConfirm").val()

            if(newPass != confPass){
                $(".errorMessage").html("Passwords do not match, please try again");
                $(".alert-danger").fadeIn().delay(2000).fadeOut();
            }
            else{
                $.ajax({
                    url: "@Url.Action("ChangePassword", "User")",
                    method: "GET",
                    data: {currPass: currPass, newPass: newPass},
                    success: async function(result){
                        if(result.success)
                        {
                            $(".passwordChanged").fadeIn().delay(2000).fadeOut();
                            $(":input").prop("value", "");
                        }
                        else
                        {
                            $(".errorMessage").html("Current password is incorrect, please try again");
                            $(".alert-danger").fadeIn().delay(2000).fadeOut();
                        }
                    }
                })
            }
        });
    });

</script>