.ProductCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    border: solid;
    border-radius: 20px;
    box-shadow: #000000 400px;
    color: #222831;
}

.product-name{
    color: #222831 !important;
}

.image-container{
    float:left;
    width: 100%;
    align-items:center;
    display:flex;
    justify-content:center;
}

.product-info {
    padding-right:50px;
    width: 100%;
    float: right;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction:column;
    gap: 10px;
    padding-top: 100px;
}

.product-details{
    padding-top: 65px;
    margin-bottom: 35px;
}

.short-details {
    width:100%;
    display:flex;
    flex-direction:row;
}

.buy-product-wrapper{
    align-self:center;
    width:100%;
}

#fill-tabpanel-0, #fill-tabpanel-1 {
    font-size: 22px;
    text-align: center;
}

.serial, .unit-info {
    font-size: 14px;
}