html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    color: #EEEEEE !important;
}

body {
    margin-bottom: 60px;
    color: #EEEEEE !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #EEEEEE !important;
}

.back-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.top-container {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    aspect-ratio: 25/10;
}

.top-logo {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 5%;
    right: 25%;
}

.CategoryNav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    font-size: 24px;
    background-color: #31363F;
}

.CategoryNavList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    font-size: 24px;
    background-color: #43516b;
}

.Categories {
    position: sticky;
    background-color: #31363F;
}

#SubCat a{
    color:inherit;
    text-decoration: none;
}

#SubCat{
    height: 70px;
}
#alert-failure,
#alert-success,
#alertLimt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    height: 10%;
    display: none;
}

.shopping-cart {
    position: relative;
}

.item-count {
    position: absolute;
    top: -20%;
    right: -5%;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    font-weight: bold;
}
