@page "/register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="">
        <form class="row justify-content-center" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-center mb-5 mt-5">Create a new account.</h2>
            <hr />
            <div class="col-6">
                <div class="form-floating mb-1">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="user-name" aria-required="true" placeholder="UserName" />
                    <label asp-for="Input.UserName" class="text-black">User Name</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="FirstName" />
                    <label asp-for="Input.FirstName" class="text-black">First Name</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="LastName" />
                    <label asp-for="Input.LastName" class="text-black">Last Name</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="text-black">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password" class="text-black">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword" class="text-black">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

            </div>

            <div class="col-6">
                <h2>Add additional details</h2>
                <div class="form-floating mb-1">
                    <select asp-for="Input.Country" class="form-control" autocomplete="country-name" aria-required="true" placeholder="Country">
                        <partial name="/Views/Shared/_CountryList.cshtml"/>
                    </select>
                    <label asp-for="Input.Country" class="text-black">Country</label>
                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.City" class="form-control" autocomplete="address-level2" aria-required="true" placeholder="City" />
                    <label asp-for="Input.City" class="text-black">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.Address" class="form-control" autocomplete="street-address" aria-required="true" placeholder="Address" />
                    <label asp-for="Input.Address" class="text-black">Address</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.PostalCode" class="form-control" autocomplete="postal-code" aria-required="true" placeholder="PostalCode" />
                    <label asp-for="Input.PostalCode" class="text-black">Postal Code</label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>

            </div>
            <button id="registerSubmit" type="submit" class="mt-3 w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
