@model List<LiquorLand.Models.cartsItem>
<link href="~/css/shoppingCart.css" rel="stylesheet" />
<div> good pay good job <a asp-area="" asp-action="Index" asp-controller="Home">
    <button>ok back to home page</button>
    </a>

    <div class="cart-container">
        <div class="cart-items">
           
            @foreach (cartsItem p in Model)
            {
                <div class="cart-item" id="@p.cartItem.Serial">
                        <div class="item-details">
                            <img src="@p.cartItem.ProductImage" alt="Product Image" />
                        </div>
                    <div class="item-info">
                        <h3>@p.cartItem.ProductName</h3>
                    </div>

                    <div class="quantity"> @p.Quantity</div>

                    <div class="item-price">$@p.cartItem.ProductPrice</div>
                    <div class="total-price">$@(p.cartItem.ProductPrice * p.Quantity)</div>
                </div>
                

            }

            <div class="cart-summary">
                <div class="checkout-btn">
                    <div class="total">
                        Total: $@ViewBag.totalPrice
                    </div>
                </div>
            </div>
        </div>
</div>
